* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --bg-main: #18298C;
  --bg-acc: #F27781;
  --bg-brd: #04BF8A;
  --txt-01: #F29F05;
  --txt-02: #F2CF1D;
}

body {
  background-color: var(--bg-main);
  min-height: 100vh;
  max-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: var(--bg-main);
  height: 15vh;
  font-size: 4vmin;
  color: var(--txt-01);
}

#msg {
  background-color: var(--bg-acc);
  justify-content: center;
  font-size: 3vmin;
  padding: 3% 0 0;
}

#board {
  background-color: var(--bg-brd);
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vmin;
}

.sqr {
  background-color: gainsboro;
}

footer {
  background-color: var(--bg-main);
}

button {
  background-color: var(--bg-main);
  font-size: 2.5vmin;
  font-family: monospace;
  color: var(--txt-01);
  border: 4px dotted var(--txt-01);
  border-radius: 12px;
  padding: 2%;
  margin: 2%;
}

button:hover {
  border-color: var(--bg-brd);
  color: var(--bg-acc);
  cursor: pointer;
}